<html>
<head>
  <title>Load Wikipedia Articles to Search!</title>
</head>

<body>

  <h1>Input a Wikipedia category to load:</h1>

  <form action="/load_category" method="POST">
  	
	   <label for="name">Collect subcategories and pages to load:</label>
     <br></br>
  		<label for="name">Category name:</label>
    	<input type="text" name="category_name">
      
      <button type="submit">Submit</button>

       <br></br>
       <label for="name">Next :</label>
      <label for="name">Enter 'yes' below and Submit to  load pages , or enter 'new' to load a different category :</label>
      <input type="text" name="load_page">

      <button type="submit">Submit</button>
  
   </form>


{% if output %}
<b>Information loaded:</b> {{ output }}
{% endif %}

</body>
</html>